@charset "utf-8";

/* 默认样式初始化覆盖*/

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dd,
dt,
img,
form,
table,
tr,
th,
td,
caption,
fieldset,
input {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Microsoft YaHei', Arial, 'Avenir', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
    color: #2c3e50;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    border: none;
    display: block;
}

i {
    display: block;
}