@charset "utf-8";

/* 默认样式初始化覆盖*/

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dd,
dt,
img,
form,
table,
tr,
th,
td,
caption,
fieldset,
input {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Microsoft YaHei', Arial, 'Avenir', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
    color: #2c3e50;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    border: none;
    display: block;
}

i {
    display: block;
}

.vue-body {
    flex: 1;
    text-align: left;
}

.panel-heading {
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #eeeff1;
    padding: 15px;
    font-weight: bold;
}

.panel-body {
    padding: 10px;
}
.router-box{
  height:30px;
  line-height:30px;
  margin:15px 10px 0;
}
.ivu-icon{
  font-size:16px;
}
.header-box{
  margin:15px 10px 0;
  border:1px solid #eeeff1;
  height:100px;
  padding:15px;
  border-radius:5px;
  font-size: 14px;
  color:#000;
  text-align: center;
  line-height: 50px;
}
.header-li{
    height:50px;
    text-align: left;
    margin:3px 0;
}
.tit-label{
    float:left;
    margin:0 10px;
    vertical-align: middle;
}
.header-li .tit-input{
    float:left;
    margin-left:5px;
    line-height:50px;
}
.header-li .select-col{
  float:left;
  margin-left:5px;
  width:202px;
}
.btn{
    margin-left:20px;
}
.table-box{
    margin:30px 10px 0;
}
.table-content{
    height:600px;
}
.btn-box{
    height:50px;
}
.table-page{
    margin:15px 0;
}